In [1]:
# Pandas
import pandas as pd

# SQL Alchemy
from sqlalchemy import create_engine
import psycopg2
database_path = "Employees_db"
username = 
password = 
host = 'localhost'
port = 5432

In [2]:
# As the URL is like any other URL, special characters such as those that may be used in the password need
#to be URL encoded to be parsed correctly.. Below is an example of a URL that includes the password "kx%jj5/g",
#where the percent sign and slash characters are represented as %25 and %2F, respectively:

# >>> import urllib.parse
# >>> urllib.parse.quote_plus("kx%jj5/g")
# 'kx%25jj5%2Fg'

In [3]:
# Create Engine
# engine = create_engine(f"sqlite:///{database_path}")



engine = create_engine(f"postgresql://{username}:{password}@{host}:{port}/{database_path}") 
conn = engine.connect()

In [4]:
# Query All Records in the the Database
data = pd.read_sql("SELECT * FROM employees", conn)

In [5]:
data.head()

   emp_no emp_title_id  birth_date  first_name  last_name sex   hire_date
0  473302        s0001  1953-07-25    Hideyuki   Zallocco   M  1990-04-28
1  475053        e0002  1954-11-18       Byong  Delgrande   F  1991-09-07
2   57444        e0002  1958-01-30       Berry       Babb   F  1992-03-21
3  421786        s0001  1957-09-28       Xiong   Verhoeff   M  1987-11-26
4  282238        e0003  1952-10-28  Abdelkader    Baumann   F  1991-01-18

In [ ]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [9]:
data2 = pd.read_sql("SELECT e.emp_no, e.emp_title_id, t.title, s.salary FROM employees AS e INNER JOIN salaries AS s ON e.emp_no = s.emp_no INNER JOIN Titles AS t ON t.title_id = e.emp_title_id", conn)
data2.head(60)

    emp_no emp_title_id             title  salary
0    57444        e0002          Engineer   48973
1    13616        e0003   Senior Engineer   40000
2   240129        e0004  Technique Leader   43548
3   427958        s0001             Staff   63377
4    35916        e0003   Senior Engineer   40000
5    67799        e0002          Engineer   48111
6   105597        s0002      Senior Staff   43841
7   215615        e0002          Engineer   40000
8    95280        e0003   Senior Engineer   40000
9    43471        e0002          Engineer   40023
10  444985        s0001             Staff   71042
11  492723        e0003   Senior Engineer   46740
12  430653        e0003   Senior Engineer   69077
13  222134        e0003   Senior Engineer   48391
14  406318        e0003   Senior Engineer   55145
15   42625        s0001             Staff   55095
16  451259        s0001             Staff   46138
17  225842        e0002          Engineer   40000
18  205366        s0002      Senior Staff   80518
19  223670        e0003   Senior Engineer   40000
20  292694        e0003   Senior Engineer   40000
21   14097        s0001             Staff   70604
22   62117        e0003   Senior Engineer   40000
23  209527        s0001             Staff   40000
24   11980        s0001             Staff   58241
25  270258        e0003   Senior Engineer   40000
26  457800        s0001             Staff   64014
27  201769        e0004  Technique Leader   48427
28  474291        e0003   Senior Engineer   40000
29  451340        s0001             Staff   40000
30  246896        e0002          Engineer   60075
31  109600        s0001             Staff   78057
32   98882        e0003   Senior Engineer   40000
33   42924        e0003   Senior Engineer   40000
34  427027        s0001             Staff   40000
35  439788        e0002          Engineer   40000
36  207791        e0002          Engineer   43645
37  205714        e0003   Senior Engineer   51903
38  423740        e0003   Senior Engineer   46599
39  286451        e0003   Senior Engineer   40000
40  260402        e0003   Senior Engineer   40000
41  279559        s0001             Staff   83729
42  470413        s0001             Staff   70750
43  486568        e0003   Senior Engineer   57499
44  478993        s0001             Staff   44327
45   25597        s0001             Staff   51902
46  496161        e0003   Senior Engineer   84192
47  251789        s0002      Senior Staff   49636
48  293313        s0002      Senior Staff   53910
49  208208        e0003   Senior Engineer   53107
50  435490        e0002          Engineer   57242
51  279067        e0002          Engineer   40000
52  441170        e0003   Senior Engineer   60380
53  459062        e0002          Engineer   57728
54  253130        e0003   Senior Engineer   50223
55   64385        e0003   Senior Engineer   46571
56  452220        e0002          Engineer   40000
57  446313        e0003   Senior Engineer   41757
58  210276        s0002      Senior Staff   59644
59   86672        s0001             Staff   40000